API_PORT=4000

ENABLE_FILE_LOGGER=false

# secret manager
SECRET_MANAGER_REGION="us-east-1"
SECRET_MANAGER_ID=
SECRET_MANAGER_ACCESS_KEY_ID=
SECRET_MANAGER_SECRET_ACCESS_KEY=


# S3
AWS_BUCKET_NAME=
AWS_BUCKET_REGION="us-east-1"
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=

# DynamoDB
DYNAMODB_REGION="us-east-1"
DYNAMODB_ACCESS_KEY_ID=
DYNAMODB_SECRET_ACCESS_KEY=

# SQS
SQS_REGION="us-east-1"
SQS_QUEUE_NAME=
SQS_QUEUE_URL=
SQS_ACCESS_KEY_ID=
SQS_SECRET_ACCESS_KEY=